<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="icon"><img src="{{ "assets/images/Illu_Adresse.png" | prepend: site.baseurl }}" alt="Adresse" class="" /></div>
                <p>Dr. jur Niki Ruge<br>Lindenpassage 13<br>21244 Buchholz<br>T 0 41 81 / 2 30 31 30<br>T 0 41 81 / 2 30 31 59<br><a class="mail" href="mailto:kanzlei@raumfuerihrrecht.de">kanzlei@raumfuerihrrecht.de</a></p>
            </div>
            <div class="col-sm-4">
                <div class="icon"><img src="{{ "assets/images/Illu_oeffnungszeiten.png" | prepend: site.baseurl }}" alt="Adresse" class="" /></div>
                <p>Öffnungszeiten<br>Mo - Fr 9.00 Uhr - 12.00 Uhr<br>Mo, Di, Do 14.00 Uhr - 18.00 Uhr</p>

            </div>
            <div class="col-sm-4">
                <div class="icon"><img src="{{ "assets/images/Illu_Impressum.png" | prepend: site.baseurl }}" alt="Adresse" class="" /></div>
                <p>
                    <a>Impressum/</a><br><a>Datenschutz</a>
                </p>

            </div>
        </div>
    </div>
</footer>