<section id="home" class="ruge_text">
    <div class="main_image">
        <img src="{{ "assets/images/start.png" | prepend: site.baseurl }}" alt="">
        <div class="text">
            <h2>Raum2 für Ihr Recht</h2>
            <h3>Die Anwaltskanzlei für Immobilienrecht</h3>
        </div>
        <div class="scrolldown"><a href="#starttext" class="scrollto"><img src="{{ "assets/images/scroll_down.png" | prepend: site.baseurl }}" alt="scrolldown" /></a></div>
    </div>
    <div class="container">
        <div class="row">
            <div id="starttext" class="col-xs-12">
                <h3 class="headline">Herzlich willkommen</h3>
                <p>Sie suchen Beratung? Sie Haben Fragen zur Vertragsgestaltung? Sie suchen rechtliche Informationen?<br>Rufen Sie mich gern an oder besuchen Sie mich in meiner Kanzlei im Herzen von Buchholz.</p></div>
            </div>
        </div>
    </div>
</section>