<section id="impressum" class="">
    <div class="container">
        <div class="row">
            <p id="starttext" class="col-xs-12">
                <h3 class="headline">Impressum</h3>

                <p>Rechtsanwalt Dr. Niki Ruge, Lindenpassage 13, 21244 Buchholz, Telefon 04181 / 230 31 30,<br>
                eMail: kanzlei@raum-fuer-ihr-recht.de, www.raum-für-ihr-recht.de,<br>
                Steuernummer Finanzamt Buchholz 15/137/10467</p>

                <p>Zuständige Aufsichtsbehörde:<br>
                Rechtsanwaltskammer Celle<br>
                Bahnhofstrasse 5<br>
                29221 Celle<br>
                Telefon: 05141 / 9282-0<br>
                Telefax: 05141 / 9282-42<br>
                eMail: info@rakcelle.de</p>

                <a> ink zur europäischen Plattform für die Online-Streitbeilegung: <a href="http://www.ec.europa.eu/consumers/odr" target="_blank">www.ec.europa.eu/consumers/odr</a></p>

                <p>Konzept/Layout: <a href="http://www.xn--pixelfrulein-mcb.de/" target="_blank">PIXELFRÄULEIN Das Design- Kollektiv</a> <br>
                Programmierung: <a href="http://www.niels-nuebel.de" target="_blank">Niels Nübel</a><br>
                Fotos: <a href="http://www.guelfidansisko.com/" target="_blank">www.guelfidansisko.com</a></p>


                <p>Berufsbezeichnung:<br>
                Rechtsanwalt, verliehen in der Bundesrepublik Deutschland<br><br>

                Der beruflichen Tätigkeit liegen folgende Vorschriften zugrunde:<br>
                Berufsordnung für Rechtsanwälte (BORA)<br>
                Fachanwaltsordnung (FAO)<br>
                Rechtsanwaltsvergütungsgesetz (RVG)<br>
                Bundesrechtsanwaltsordnung (BRAO)<br>
                Berufsregeln der Rechtsanwälte der Europäischen Gemeinschaft (CCBE)<br>
                Gerichtskostengesetz (GKG)<br><br>

                Die berufsrechtlichen Vorschriften sind über die Bundesrechtsanwaltskammer (BRAK) erhältlich<br>
                oder auf der Homepage der Bundesrechtsanwaltskammer unter www.brak.de abrufbar.<br><br><br>


                Inhaltlich Verantwortlicher gemäß § 55 Abs. 2 RStV: Dr. Niki Ruge (Anschrift wie oben)<br><br>

                Rechtsanwältinnen und Rechtsanwälte sind aufgrund der Bundesrechtsanwaltsordnung verpflichtet, eine Berufshaftpflichtversicherung mit einer Mindestversicherungssumme von EUR 250.000,00 zu unterhalten.<br>
                Die Einzelheiten ergeben sich aus § 51 BRAO.<br><br>

                Rechtsanwalt Dr. Niki Ruge unterhält eine Berufshaftpflichtversicherung bei der <br>
                Allianz Versicherungs-Aktiengesellschaft<br>
                Königinstraße 28<br>
                80802 München<br>
                Telefon: 089 / 3800-0<br>
                Telefax: 0800 / 4400-101<br>
                Der Geltungsbereich erstreckt sich auf die Bundesrepublik Deutschland.<br><br>

                Haftungsausschluss:<br>
                Rechtsanwalt Dr. Niki Ruge übernimmt weder inhaltlich noch gestalterisch in irgendeiner Form die Verantwortung für Informationen von externen Servern, auf die diese Webseite direkt oder indirekt verweist („Links“). Dies gilt auch für die Vollständigkeit, Richtigkeit und Aktualität der hier bereitgestellten Informationen. Durch den Besuch dieser Webseite und die Zurkenntnisnahme der dort präsentierten Informationen und Inhalte wird kein Mandatsverhältnis begründet. Auch eine Rechtsberatung ist damit nicht verbunden.<br><br>

                Hinweis gemäß Bundesdatenschutzgesetz (BDSG):<br>
                Kommunikationsverbindungen, Namen und Ihre sonstigen übermittelten Daten werden von Rechtsanwalt Dr. Niki Ruge gespeichert, sobald Sie mit ihm Kontakt aufnehmen. Diese Daten werden nur für die vom Absender beabsichtigten oder interne Zwecke verwendet und nicht weiterverwendet oder in sonstiger Weise benutzt.<br>
            </p>
            </div>
        </div>
    </div>
</section>