<section id="leistungen" class="ruge_text">
    <div class="main_image">
        <img src="{{ "assets/images/leistungen.png" | prepend: site.baseurl }}" alt="">
        <div class="text">
            <h2>Vita</h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3>Vita</h3>
                <p>Kommen Sie rein, allein oder mit Kollegen oder Freunden, und sehen und schnuppern Sie, was Herr Nordmann Gutes gekocht hat. Unsere herzhaften Mittagsgerichte werden jeden Tag frisch für Sie zubereitet. Aus guten Zutaten köchelt und brät in der Küche von Herrn Nordmann feine Hausmannskost. Sie wird sorgfältig abgeschmeckt und kommt auf kürzestem Weg zu uns in den Brotladen. Täglich wechselnd haben Sie die Wahl zwischen Suppe, Eintöpfen, saisonalen Gerichten oder Klassikern. Lassen Sie sich gemütlich an unseren Holztischen nieder oder nehmen Sie Ihren Lunch heiß und gut verpackt mit, wenn’s doch mal schnell gehen muss.</p></div>
            </div>
        </div>
    </div>
</section>