<section id="leistungen" class="ruge_text">

    <div class="leistungen">
        <div class="leistungen-wrapper">
            <ul id="owl-demo" class="owl-carousel owl-theme">
                {% assign counter = 0 %}
                {% for item in site.leistungen %}<li class="item"><h2>{{ item.title }}</h2><div class="leistung-text">{{ item.text }}</div></li>
                {% assign counter = counter | plus: 1 %}
                {% endfor %}
            </ul>
        </div>
    </div><!-- .quotes -->
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="headline">Leistungskatalog</h3>
                <p>Speziell abgestimmt auf die Anforderungen von Hausverwaltungen und vermietenden Grundeigentümern kann ich Ihnen folgendes Spek-trum von Leistungen anbieten:<br>Inkasso, Beendigung von Mietverhältnissen, Mieterhöhungen, Betriebskosten und Betriebskostenabrechnungen, Mietsicherheiten, Durchsetzung weiterer Vermieterrechte, Schulung Ihrer Mitarbeiterinnen und Mitarbeiter (Update „Miet-recht aktuell“), Miet- und Pachtverträge, Wohnung und Gewerbe, Beratung – Vertretung – Gestaltung Wir bieten kompetente Beratung, Vertretung und Gestaltung.</p></div>
            </div>
        </div>
    </div>
</section>