<section id="schwerpunkte" class="ruge_text">
    <div class="main_image">
        <img src="{{ "assets/images/schwerpunkte.png" | prepend: site.baseurl }}" alt="">
        <div class="text">
            <h2>Kanzleun<br>Schwerpunkte</h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3>Kanzlei Schwerpunkt Wohnungseigentums- und Mietrecht<br>Beratung – Vertretung - Gestaltung</h3>
                <p>Sie sind Vermieter? Als Fachanwalt für Wohnungseigentums- und Mietrecht bin ich Ihr kompetenter Ansprechpartner für alles Rechtliche rund um die Immobilie (ausführlich s. Portfolio?). Ich begleite Sie vor Gericht, bei Vertragsverhandlungen oder erstelle Ihnen  Vertragsentwürfe, insbesondere bei Miet- und Pachtverträgen. Neben meiner anwaltlichen Tätigkeit entwerfe ich auch Grundstückskaufverträge und Teilungserklärungen im Rahmen des Wohnungseigentumsrechts. Als mein Mandant profitieren Sie von der Vielzahl meiner Kontakte zu Hausverwaltungen, Immobilienmaklern und Unternehmen der Wohnungswirtschaft.</p>
            </div>
        </div>
    </div>
</section>