<section id="veroeffentlichungen" class="ruge_text">
    <div class="main_image">
        <img src="{{ "assets/images/veroeffentlichungen.png" | prepend: site.baseurl }}" alt="">
        <div class="text">
            <h2>Veröffentlichungen</h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3>Veröffentlichungen</h3>
                <p>Über die aktuelle rechtliche Entwicklung und neue Entscheidungen in der Rechtssprechung informiere ich mich mit großem Interesse und veröffentliche regelmäßig Fachbeiträge. Ein Verzeichnis meiner Veröffentlichungen finden Sie <a href="#">hier</a>.
                    <br>Bleiben Sie immer auf dem neuesten Stand und folgen Sie mir auf <a href="https://www.facebook.com/raumfuerihrrecht">https://www.facebook.com/raumfuerihrrecht</a></p>
            </div>
        </div>
    </div>
</section>