<section id="vita" class="ruge_text">
    <div class="main_image">
        <img src="{{ "assets/images/vita.png" | prepend: site.baseurl }}" alt="">
        <div class="text">
            <h2>Vita</h2>
            <h3 class="text-uppercase">R. jur. Niki Ruge</h3>
            <h4>Rechtsanwalt seit 12345 und spezialisiert</h4>
            <h4>auf Miet-Wohnungseigentumsrecht.</h4>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="headline">Vita</h3>
                <p>Gegenseitiges Vertrauen ist die Basis einer guten Zusammenarbeit: Möchten Sie wissen mit wem Sie es zu tun haben, sehen Sie sich gern meinen beruflichen Werdegang an. Meine Vita spiegelt meine fachliche Kompetenz und Erfahrung wieder und kann ein persönliches Kennenlernen positiv ergänzen.<br>Meine komplette Vita können Sie sich <a href="{{ "assets/pdfs/Vita_Ruge.pdf" | prepend: site.baseurl }}" target="_blank">hier</a> ansehen.</p></div>
            </div>
        </div>
    </div>
</section>