.ruge_text {
  .scrolldown {
    position: absolute;
    width: 57px;
    height: 57px;
    bottom: 10px;
    left: 50%;
    margin-left: -28px;
    z-index: 200;
  }
  text-align: center;
  .main_image {
    position: relative;
    width: 100%;
    img {
      display: inline-block;
      width: 100%;
      vertical-align: middle;
    }
    .text {
      position: absolute;
      top: 100px;
      left: 0;
      display: inline-block;
      text-align: left;
      white-space: pre-line;



      h2,h3,h4,p {
        background-color: $brand-primary;
        color: #fff;
        padding: 0;
        margin: 0 0 2px;
        line-height: normal;
        display: inline-block;
        padding-left: 40px;
        padding-right: 10px;
        font-weight: 700;
      }

      h2 {
        font-size: 60px;
        line-height: 80px;
        text-transform: uppercase;
        letter-spacing: .1em;
      }

      h3 {
        font-size: 34px;
        line-height: 50px;

        &.text-uppercase {
          font-size: 25px;
          line-height: 40px;
          letter-spacing: .1em;
        }
      }

      h4 {
        font-size: 22px;
        line-height: 40px;
      }
    }
  }
  h3.headline {
    text-transform: uppercase;
    margin: 55px 0 15px;
    color: $brand-primary;
    font-weight: 700;
    font-size: 32px;
    line-height: 43px;
  }
  .container {
    margin-bottom: 70px;
    a {
      text-decoration: underline;
    }
  }
}